nodered/flows.json
[{"id":"b971a3eb.97ea4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4a221563.8f075c","type":"rpi-srf","z":"b971a3eb.97ea4","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","x":300,"y":180,"wires":[[]]},{"id":"551746c3.351348","type":"debug","z":"b971a3eb.97ea4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":480,"y":180,"wires":[]},{"id":"9b78247e.5a7258","type":"mqtt out","z":"b971a3eb.97ea4","name":"distance","topic":"sensor/distance","qos":"","retain":"","broker":"10d226fd.bdf959","x":450,"y":320,"wires":[]},{"id":"10d226fd.bdf959","type":"mqtt-broker","z":"","name":"","broker":"tailor.cloudmqtt.com","port":"17599","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]